/*
** HTML elements
*/

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0.8em;
    font-family: "Bitstream Vera Sans", "Lucida Grande", "Trebuchet MS", sans-serif;
    color: #535353;
    background: #ffffff;
}


/*
** HTML Tags
*/

h1, h2, h3, h4
{
    padding: 0;
    text-align: left;
    font-weight: bold;
    color: #f7800a;
    background: transparent;
}
h1 {
    margin: 0 0 0.3em 0;
    font-size: 1.7em;
}
h2, h3, h4 {
    margin: 1.3em 0 0 0.3em
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

a:link {
    padding-bottom: 0;
    text-decoration: none;
    color: #0057ae;
}

a:visited {
    padding-bottom: 0;
    text-decoration: none;
    color: #644A9B;
}


a[href]:hover {
    text-decoration: underline;
}

hr {
    margin: 0.3em 1em 0.3em 1em;
    height: 1px;
    border: #bcbcbc dashed;
    border-width: 0 0 1px 0;
}

pre {
    display: block;
    margin: 0.3em;
    padding: 0.3em;
    font-size: 1em;
    color: #000000;
    background: #f9f9f9;
    border: #2f6fab dashed;
    border-width: 1px;
    overflow: auto;
    line-height: 1.1em;
}

input, textarea, select {
    margin: 0.2em;
    padding: 0.1em;
    color: #888888;
    background: #ffffff;
    border: 1px solid;
}

blockquote {
    margin: 0.3em;
    padding-left: 2.5em;
    background: transparent;
}

del {
    color: #800000;
    text-decoration: line-through;
}

dt {
    font-weight: bold;
    font-size: 1.05em;
    color: #0057ae;
}

dd {
    margin-left: 1em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.9em;
    text-align: justify;
}
fieldset {
    border: #cccccc 1px solid;
}

li {
    text-align: left;
}

fieldset {
    margin-bottom: 1em;
    padding: .5em;
}

form {
    margin: 0;
    padding: 0;
}

hr {
    height: 1px;
    border: #888888 1px solid;
    background: #888888;
    margin: 0.5em 0 0.5em 0 ;
}

img {
    border: 0;
}
table {
    border-collapse: collapse;
    font-size: 1em;
}
th {
    text-align: left;
    padding-right: 1em;
    border: #cccccc solid;
    border-width: 0 0 3px 0;
}


/*
** Header
*/
#header {
        color: #535353;
    background: #eeeeee;
    border-bottom: #bcbcbc 1px solid;
}

#header_top {
    margin: 0 auto;
    padding: 0;
                vertical-align: middle;
    color: #ffffff;
    background: url(images/top.jpg) repeat-x bottom;
background-color: #0057ae;
}

#header_top div {
    margin: 0 auto;
    padding: 0;
    background: url(images/top-left.jpg) no-repeat bottom left;
}

#header_top div div {
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    text-align: left;
    font-size: 1.7em;
    font-weight: bold;
    background: url(images/top-right.jpg) no-repeat bottom right;
}

#header_top div div img {
    margin:8px 0px 9px 18px;
    vertical-align: middle;
}

#header_bottom {
    display: none;
    margin: 0 auto;
    padding: 0.1em 0em 0.3em 0;
                vertical-align: middle;
    text-align: right;
    background: #eeeeee;
}

#location {
    padding: 0 0 0 1.5em;
    text-align: left;
    line-height: normal;
    font-size: 1.1em;
    font-weight:bold;
    float: left;
}

#location ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

#location ul li {
    display: inline;
    white-space : nowrap;
    margin: 0;
    padding: 0 1em 0 0;
}

#menu {
    margin: 0 1.5em 0 0;
    text-align: right;
    line-height: normal;
    font-size: 1.1em;
    font-weight: bold;
}

#menu ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#menu ul li {
    display: inline;
    white-space : nowrap;
    margin: 0;
    padding: 0 0 0 1em;
    text-align: right;
}

.here a:link, .here a:visited {
    text-decoration:underline;
}

.here ul a:link, .here ul a:visited {
    text-decoration:none;
}

#menu ul li a {
    font-weight: bold;
}


/*
** Content
*/

#content {
    }

#main {
    /* padding in px not ex because IE messes up 100% width tables otherwise */
    padding: 10px;
    text-align: left;
}

#body_wrapper {
    margin: 0 auto;
                border: #bcbcbc solid;
    border-width: 0 0 0 1px;
}

#body {
    margin: 0;
    padding: 0;
            }

#right {
    float: right;
    margin: 0;
    padding: 0;
    }

/* These are date cells on the front page. */
td.cell_date {
        }

#hotspot, .sideimage {
    float: right;
    margin: 1ex 1em;
    clear: right;
}

.belowimage, h1, h2, h3, h4, h5 {
    clear: right;
}


/*
** Left Menu
*/

#left {
    display: none;
    float: left;
    margin: 0;
    padding: 0;
    }

.menu_box {
    padding: 0.7em 0 0 0;
}

.menu_box ul {
    text-align: left;
}

.menu_box li {
    list-style-type: none;
    text-align: left;
    margin-left: 0.1em;
}

.menu_box ul ul {
margin: 0;
padding-left: 0;
}

.menu_box li li {
margin-left: 1em;
}

.menu_box .active{
    color: #cf4913;
}

.menutitle {
    margin: 0.6em 0 1.2em 0;
    padding:0;
    color: #ffffff;
    background: url(images/block_title_mid.png) repeat-y right;
background-color: #0057ae;
}
.menutitle div {
    margin: 0;
    padding:0;
    background: url(images/block_title_top.png) no-repeat top right;
}
.menutitle div h2 {
    margin: 0;
    padding: 0.2em 0 0.3em 1.3em;
    line-height:1.2em;
    font-size: 120%;
    font-weight: normal;
    color: #ffffff;
    background: url(images/block_title_bottom.png) no-repeat bottom right;
}
.menutitle div h2 a {
    color: #ffffff;
}
.clearer {
    clear: both;
    height: 1px;
}


/*
** Footer
*/
#footer {
    display: none;
        background: #eeeeee;
}

#footer_text {
    margin: 0 auto;
    padding: 1em 0 1em 3.5em;
        text-align: left;
    color: #000000;
    background: #eeeeee;
}

#footer a:link, #footer a:visited {
    color: #4d88c3;
}

#quicklinks {
font-size: 1em;
padding: 1em;
text-align: center;
margin-top: 0.5em;
margin-left: 0.2em;
margin-bottom: 0.5em;
margin-right: 0.2em;
}

.content .contents {
	text-align: left;
}

/*
** Credits
*/
table.credit tr {
vertical-align:top;
}

table.credit td {
border-bottom: 1px solid #cccccc;
}

